body {
  /* 画像ファイルの指定 */
  background-image: url(../img/back2.png);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
  font-family: "Yu Gothic UI", sans-serif; /* 和風のフォントを設定 */
  color: #0c0c0c; /* テキストの色を設定 */
  margin-right: 10%;
  padding-right: 10%;
  margin-left: 10%;
  padding-left: 10%;
}


#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #054875;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  margin-top: 20px;
  font-size: 18px;
}

#content {
  display: none;
}

.icon {
  display: block;
  margin-right: 50%;
}

h1 {
  font-size: xx-large;
  font-family: Impact; /* タイトルのフォントをImpactに設定 */
  color: #000000; /* タイトルの色を黒に設定 */
  text-align: center;
}

main {
  color:#000000;
  text-align: center;
  height: 200px;
}

a {
  color: black; /* リンクの色を黒に設定 */
  background-color: aliceblue;
}

.another_page{
  display: block; 
  position: fixed; /*ポジションを固定する*/
  top: 0px; /*一番上に設置*/
  left: 0px;
  z-index: 9999;  /*どの要素よりも上にくるように*/
  background-color: rgba(252, 66, 91, 0.78); /*メニューバー背景色*/
  height: 100px;
  width: 100%; /*横幅を100%に*/
  padding: 0 0;
}

.another_page a {
  float: left; /*メニューを横並びにする*/
  font-size: 16px;
  color: #080808;
  padding: 10px;
}

.another_page a:after { /*floatでデザインが崩れないように*/
  display:block;
  clear: both;
  content:"";
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* ユーザーネームのデザイン */
.username{

  background-blend-mode: multiply;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 24px;
  font-family: 'Arial', sans-serif;
  height: 100px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out; /* アニメーションの時間やタイミング関数を指定 */

}

article {
  font-family: "Hiragino Mincho ProN", serif; /* 記事のフォントを和風に設定 */
  background-color: white; /* 記事の背景色を白に設定 */
  padding: 10px; /* 記事の内側の余白を10pxに設定 */
  margin-bottom: 20px; /* 記事の下の余白を20pxに設定 */
}

h2 {
  color: black; /* 記事タイトルの色を黒に設定 */
}

p:first-child {
  color: rgb(0, 0, 0); /* 記事作成日時の色を灰色に設定 */
  background-color: #FFF;
}

.mypost-image {
  margin-right: 30px;
}
