/* static/css/slideshow.css */

.slideshow-container {
  display: flex;
  justify-content:space-around;
  position: relative;
  height: 400px; /* 適切な高さを指定してください */
  overflow: hidden;
}

.slide {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin:0,auto;
  height: 350px;
  width: 150px;
}

/* 追加のスタイルを必要に応じて指定してください */
