<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSSのインポート -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/slideshow.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

  <title>Anadialog</title>
</head>
<body>

  <main>説明</main>

  <!-- タイトル下のサインorログインボタン -->
  <div class="signup">
    <a href = "/signup" role="button">signup</a>
    <a href = "/login" role="button">login</a>
  </div>

  <!-- 投稿のCRUD画面 -->
  {% block content %}
  {% endblock %}

  <footer>
    <p>&copy; 2023 My Company. All rights reserved.</p>
  </footer>

  </div>
  
    <!-- スライドショーのためのjsファイルのインポート -->
    <script src="../static/js/slideshow.js"></script>
</body>
</html>