<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSSのインポート -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/slideshow.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
  <link rel="stylesheet" href="path/swiper.min.css" />

  <link rel="icon" type="image/png" href="../static/img/barbershop.png">

  <title>Dream Log</title>
</head>
<body>

  <!-- ローディング画面のコンテナ -->
  <div id="loading-screen">
    <div class="loading-spinner"></div>
    <div class="loading-text">Loading...</div>
  </div>

  <div id="content" style="display: none;"></div>
    <!-- 投稿のCRUD画面 -->
    {% block content %}
    {% endblock %}
    
  </div>

  <footer>
    <p>&copy; 2023 My Company. All rights reserved.</p>
  </footer>

  </div>
  
    <!-- 必要なjsファイルのインポート -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="../static/js/goodcount.js"></script>
    <script src="../static/js/slideshow.js"></script>
    <script src="../static/js/nav.js"></script>
    <script src="../static/js/share.js"></script>
    <script src="../static/js/load.js"></script>
</body>
</html>