{% extends "base.html" %}
{% block content %}

  <!-- メニューバー -->
  <div class="navbar">
    <ul>
      <li><a href = "/signup" role="button">signup</a>
      <li><a href = "/login" role="button">login</a>
      <li><a href="/signup" role="button">create</a></li>
      <li><a href="#" role="button">view</a></li>
    </ul>
  </div> 

  <!-- Anadialogのタイトル -->
  <div class="icon">
    <img src="../static/img/Anadialog (1).png">
  </div>
  
  <div class="block2"></div>

  <!-- 閲覧画面 -->
  <h1>Every Dream</h1>
  <main>説明</main>

  <!-- ユーザーの投稿のスライドショー -->
  <div class="slideshow-container">
    {% for post in posts%}
      <div class="slide">
        <h2>{{post.title}}</h2>
        <p>作成日時：{{post.created_at}}</p>
        <p>{{post.body}}</p>
        <p><img src="data:image/png;base64,{{post.image}}"></p>
      </div>
    {% endfor %}
  </div>

  <!-- 投稿画面 -->
  <h1>Your Dream</h1>
  <main>説明</main>

  <nav class="navi">
    <a href = "/signup" role="button">New post</a>
  </nav>

  {% for post in posts[::-1][:3] %}
  <article>
    <h2>タイトル</h2>
    <p>作成日時</p>
    <p>作成内容</p>
  </article>
  {% endfor %}
{% endblock %}