{% extends "base.html" %}
{% block content %}

  <!-- メニューバー -->
  <div class="navbar">
    <ul>
      <li><a id="link-btn" href="#" role="button">share</a>
      <li><a href = "/logout" role="button">logout</a>
      <li><a href="/create" role="button">create</a></li>
      <li><a href="/search" role="button">search</a></li>
    </ul>
  </div> 

  <!-- Anadialogのタイトル -->
  <div class="icon">
    <img src="../static/img/Anadialog (1).png">
  </div>

  <div class="block2"></div>
  
  <h3 class="username">
    おかえりなさい。{{name}}様
  </h3>

  <div class="block2"></div>

  <!-- 閲覧画面 -->
  <h1>Every Dream</h1>
  <main>説明</main>

  <!-- ユーザーの投稿のスライドショー -->
  <div class="slideshow-container">
    {% for post in posts[::-1]%}
    
      <div class="slide">
        <h2>{{post.title}}</h2>
        <p>{{post.author}}</p>
        <p><img src="data:image/png;base64,{{post.image}}"></p>
        <p>{{post.body}}</p>
      </div>
    {% endfor %}
  </div>

  <!-- 投稿画面 -->
  <h1>Your Dream</h1>
  <main>説明</main>

  <nav class="navi">
    <a href = "/create" role="button">New post</a>
  </nav>

  {% for mypost in myposts[::-1][:3] %}
  <article>
    <h2>{{mypost.title}}</h2>
    <!-- post.idをupdateするためのボタンの作成 -->
    <a href="/{{mypost.id}}/update" role="button">update</a>
    <a href="/{{mypost.id}}/delete" role="button">delete</a>
    <p class="mypost-image"><img src="data:image/png;base64,{{mypost.image}}"></p>
    <p>{{mypost.body}}</p>
  </article>
  {% endfor %}
{% endblock %}