{% extends "base.html" %}
{% block content %}

  <!-- Anadialogのタイトル -->
  <div class="icon">
    <img src="../static/img/Anadialog (1).png">
  </div>

  <!-- タイトル下のログアウトボタン -->
  <div class="logout">
    <a href = "/logout" role="button">logout</a>
  </div>

  <div class="block2"></div>
  
  <!-- ホントだったら、現在のユーザーを表示するようにしたかった。 -->

{% for name in currentauthor %}
<h3 class="username">
  おかえりなさい。{{name}}
</h3>
{% endfor%}
  


  <div class="block2"></div>

  <!-- 閲覧画面 -->
  <h1>Every Dream</h1>
  <main>説明</main>

  <!-- ユーザーの投稿のスライドショー -->
  <div class="slideshow-container">
    {% for post in posts%}
      <div class="slide">
        <h2>{{post.title}}</h2>
        <p>{{post.author}}</p>
        <p>作成日時：{{post.created_at}}</p>
        <p>{{post.body}}</p>
      </div>
    {% endfor %}
  </div>

  <!-- 投稿画面 -->
  <h1>Your Dream</h1>
  <main>説明</main>

  <nav class="navi">
    <a href = "/create" role="button">New post</a>
  </nav>

  {% for post in posts[::-1][:3] %}
  {% if post.author == currentauthor %} <!-- ユーザーの投稿した内容のみ表示される条件 -->
  <article>
    <h2>{{post.title}}</h2>
    <!-- post.idをupdateするためのボタンの作成 -->
    <a href="/{{post.id}}/update" role="button">update</a>
    <a href="/{{post.id}}/delete" role="button">delete</a>
    <p>作成日時：{{post.created_at}}</p>
    <p>{{post.body}}</p>
  </article>
  {% endif %}
  {% endfor %}
{% endblock %}