{% extends "base.html" %}
{% block content %}

  <h1>{{ name }}様、どのような夢をお探しですか？</h1>

  <form action="{{ url_for('search') }}" method="POST">
    <input type="text" name="search_query" placeholder="探したい夢の内容を入力して下さい。">
    <button type="submit">検索</button>
  </form>

  <a href="/home" role="button">ホームに戻る</a>

    <h1>以下の夢を見つけてきました</h1>
    <ul class="searcharticle">
      {% if search_query %}
        {% for post in search_results[::-1]%}
        <article>
          <a href="/{{post.id}}/zoom" role="button">見る</a>
          <h2 href="">{{post.title}}</h2>
          <p>{{post.author}}</p>
          <p><img src="data:image/png;base64,{{post.image}}",width="150px", height="150px"></p>
          <p>{{post.created_at}}</p>
        </article>
        {% endfor %}
      {% else %}
        {% for post in posts[::-1]%}
        <article>  
          <h2>{{post.title}}</h2>
          <p>{{post.author}}</p>
          <p><img src="data:image/png;base64,{{post.image}}",width="150px", height="150px"></p>
          <p>{{post.body}}</p>
          <p>{{post.goodcount}}</p>
          <p>{{post.created_at}}</p>
        </article>
        {% endfor %}
      {% endif %}
    </ul>

{% endblock %}
